body {
	background-color: #CECECE;
	padding: 0;
	margin: 0;
	border: 0;
}


.masthead {
	background-image: url(https://download.unsplash.com/photo-1434394673726-e8232a5903b4);
	background-size: cover;
	height: 500px;
	border-bottom: 15px solid #000;
}

ul {
	padding: 0;
	margin: 0;
	border: 0;
}

.navigation {
 	width: 900px;
 	margin: 0 auto;
 	padding-top: 40px;
 	padding-right: 40px;
 }

 .navigation ul {
 	text-decoration: none;
 	list-style: none;
 }

 .navigation li {
 	display: inline;
 	float: right;
 	padding: 15px;
 	
 }

 .navigation a {
 	text-decoration: none;
 	color: #404041;
 	font-family: "Lato", Helvetica, sans-serif;
 	font-weight: 400;
 	font-style: 1em;
 }

 .navigation a:hover {
 	text-decoration: none;
 	color: #fff;
 	font-family: "Lato", Helvetica, sans-serif;
 	font-weight: 400;
 	font-style: 1em;
 }

 .introduction {
 	width: 500px;
 	margin: 0 auto;
 	padding-top: 100px;
 }

 .introduction img {
 	border-radius: 100px;
 }

 .introduction-content {
	text-align: center;
}

.introduction-content h1 {
	font-family: "Lato", Helvetica, sans-serif;
	font-weight: 700;
	font-size: 4em;
	color: #fff;
	margin: 0;
}

.introduction-content h2 {
	font-family: "Lato", Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #fff;
	margin: 0;
}

.projects {
	width: 800px;
	margin: 0 auto;
}

.projects img {
	display: block;
	padding-bottom: 20px;
	padding-right: 20px;	
}
.projects li {
	display: inline-block;
	text-align: center;
}

.social {
	background-color: #000;
	height: 100px;
	margin-top: 20px;
	color: #fff;
}

.social-content {
	width: 700px;
	margin: 0 auto;
	padding-top: 20px;
}

.social-content {
	text-align: center;
}

.social-content ul {
	padding-top: 15px;
}
.social-content li {
	text-decoration: none;
	display: inline;
	padding: 15px;
}

.social-content a {
	color: #D6B5C2;
	font-family: "Lato", Helvetica, sans-serif;
	text-decoration: none;
}

.social-content a:hover {
	color: #fff;
}

@media only screen and (max-width: 500px) {
	.

}
